/* h2{
    color: rgb(5, 7, 14);
}

button{
    background-color: blue;
    color: white;
}
div{
    height: 250px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color:aquamarine ;
} */

.content{
    color: red;

}
.newclass{
    background-color: green;
}